body {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#background{
    background: linear-gradient(120deg, #00092e 28%, #4d0000 100%);
}

#title {
    text-decoration: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#form-div {
    
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: center;
    align-content: baseline;
}

#form {
  
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px 20px; 
    margin-top: 5px;
    border: 5px solid linear-gradient(120deg, #00092e 28%, #4d0000 100%);
    border-radius: 5px;
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap; /* Para permitir quebra de linha entre os pares */
    gap: 15px;
}

#adress_style{
    display: flex;
	align-items: center;
	position: relative;
	max-width: 100%;
}


/* Definir estilos dos elementos do form */
.form-spacing {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.form-spacing * {
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
}

/* estilizando elementos do form */

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%;
}

.input {
	font-size: 18px;
	padding: 5px 10px;
	width: 100%;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 2px solid rgb(71, 71, 71);
	border-radius: 10px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .1s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 2px solid #001361;
	border-radius: 10px;
}

.custom_input label {
    display: flex;
    align-self: center;
    flex-direction: column;
    
}


/* estilo do botão */ 
.button {
    font-family: Arial, sans-serif;
    font-size:80%;
    border-radius:6px;
    padding: 5px 10px !important;
    color:#ffffff;
    background-color:#cc6666;
    outline:none;
    border:none;
    display:inline-block;
    text-decoration: none;
    transition: .4s;
    margin-top: 10px;
}
    
.button:hover {
    color:#ffffff;
    background-color:#414141;
}


/* ----------------- inicio CHECKBOX (CSS,JS...) ----------------------------------- */


/* Container do checkbox */
.checkbox-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    transition: color 0.3s ease;
}

.checkbox-container legend {
    font-weight: bold;
}

.checkbox-container:hover {
    color: #001361;
}

/* Checkbox oculto */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Estilo do checkbox personalizado */
.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    position: relative;
    margin-right: 3px;
    margin-top: 5px;
    transition: all 0.3s ease;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checkbox-container:hover .custom-checkbox {
    border-color: #001361;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* Marca do check */
.custom-checkbox::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    top: 0px;
    left: 6px;
    display: none;
    transition: all 0.2s ease;
}

/* Quando o checkbox é marcado */
.checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #001361;
    border-color: #001361;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox::after {
    display: flex;
}

/* Efeito suave de transição do "check" */
.custom-checkbox::after {
    opacity: 0;
    transform: rotate(45deg) scale(0);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

/* Texto do checkbox */
.checkbox-text {
    font-family: Arial, sans-serif;
    user-select: none;
    margin-top: 8px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

/* ----------------- FIM CHECKBOX (CSS,JS...) ----------------------------------- */

/* ----------------- INICIO SELECT (PROFISSÃO) ----------------------------------- */

/* Container do select */
.select-container {
    display: inline-block;
    position: relative;
    font-size: 10px;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 300px; /* Definindo uma largura máxima ajustável */
}

/* Estilo do botão select */
.select-custom {
    width: 100%;
    padding: 0.5em !important;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: white;
    color: #333;
    font-size: 15px;
    font-family: Arial, sans-serif;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 10px;
    margin-top: 1px;
}

/* Setinha do select */
.select-custom::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0.8em;
    height: 0.5em;
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    pointer-events: none;
    transform: translateY(-50%);
}

/* Efeito ao passar o mouse */
.select-custom:hover {
    border-color: #001361;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Quando o select está em foco */
.select-custom:focus {
    outline: none;
    border-color: #001361;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Container da seta do select */
.select-container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1.2em;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    transform: translateY(-50%);
}

/* ----------------- FIM SELECT (PROFISSÃO) ----------------------------------- */

/* ----------------- INICIO FIELDSET (NIVEIS DE EXPERIENCIA) ----------------------------------- */

/* Estilo do fieldset */
.fieldset-custom {
    border: 3px solid #ccc;
    border-radius: 10px; 
    padding: 10px !important; 
    margin: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Título do fieldset */
.fieldset-custom legend {
    font-family: Arial, sans-serif;
    font-size: 15px; 
    font-weight: bold; 
    color: #333; 
    padding: 0 10px !important;
   
}

/* Estilo dos rótulos dos radio buttons */
.fieldset-custom label {
    font-family: Arial, sans-serif;
    display: inline-flex;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 15px; 
    color: #333;
    cursor: pointer; 
    transition: color 0.3s ease;
}

/* Efeito ao passar o mouse nos rótulos */
.fieldset-custom label:hover {
    color: #001361; 
}

/* Radio buttons ocultos para evitar conflito com envio */
.fieldset-custom input[type="radio"] {
    width: 0%;
}

/* Estilo do botão de rádio personalizado */
.radio-custom {
    background-color: #ffffff;
    width: 16px;
    height: 16px; 
    border: 2px solid #ccc; 
    border-radius: 50%; 
    position: relative;
    margin-right: 10px; 
    transition: border-color 0.3s ease; 
}

/* Quando o radio button está marcado */
.fieldset-custom input[type="radio"]:checked + .radio-custom {
    border-color: #001361; 
}

/* Marca do botão de rádio */
.fieldset-custom input[type="radio"]:checked + .radio-custom::after {
    content: ''; 
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 10px; 
    height: 10px; 
    background-color: #001361; 
    border-radius: 50%; 
    transform: translate(-50%, -50%);
}

/*---------- inicio informações adicionais ------------- */ 

/* Estilo do label */

.info-custom {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 0.5em;
    display: block; 
}

/* Estilo do textarea */
textarea {
    font-family: Arial, sans-serif;
    width: calc(100% - 1em); 
    padding: 5px !important; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    font-size: 15px;
    transition: border-color 0.3s ease; 
    resize: vertical;
}

/* Estilo para o foco do textarea */
textarea:focus {
    border-color: #001361; 
    box-shadow: 0 0 5px #490f00(76, 175, 80, 0.5); 
}
